extends ./_layouts/default

block vars
  -title        = 'Aneed | Home page'
  -description  = 'sample description'
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'
  -imgPC        = path+'/img/'+pageID+'/'
  -imgSP        = path+'/img/'+pageID+'/sp/'

block container
